run = "npm run dev"
entrypoint = "app/page.tsx"

[nix]
channel = "stable-22_11"

[env]
NODE_ENV = "development"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true

[languages]
[languages.javascript]
pattern = "**/*.js"
syntax = "javascript"

[languages.typescript]
pattern = "**/*.ts"
syntax = "typescript"

[languages.jsx]
pattern = "**/*.jsx"
syntax = "jsx"

[languages.tsx]
pattern = "**/*.tsx"
syntax = "tsx"

